if TARGET_C5_SKT

config SYS_SOC
	default "c5"

config SYS_BOARD
	default "c5_skt"

config SYS_CONFIG_NAME
	default "c5_skt"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config BL30_SELECT
	string "c5 BL30 board config"
	default "c5_pxp"

config CMD_PLLTEST
        bool "support plltest command"
        default n
		help
			support plltest command

config AML_REBOOT
		bool "reboot cmd"
		default y
		help
			support uboot reboot cmd

config ENABLE_AML_GPIO_UPGRADE
    bool "upgrade key check"
    default n

config AML_GPIO_UPGRADE_KEY
    string "gpio key"
    default ""
endif
